body, html{
  height: 100%;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 1.5;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

header{
  color: black;
  font-size: 1.8em;
}

.container{
  display: flex;
}

#navbar{
  flex-basis: 20%;
  height: 100%;
  padding: 10px;
  border-right: 4px solid darkgrey;
}

#navbar header{
  padding-left: 30px;
}

#navbar ul{
  padding-left: 30px;
}

#navbar li{
  list-style: none;
  color: #4d4e53;
}

#main-doc{
  flex-basis: 80%;
  height: 100%;
  padding: 10px;
}

#main-doc .section-content{
  padding-left: 20px;
}
