body, html{
  height: 100%;
  background-color: #eee;
  font-family: Helvetica, sans-serif;
}

#container, .innerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer{
  width: 80%;
  background-color: seashell;
}

#survey-form{
  width: 100%;
}

.flexContainer{
  display: flex;
}

input{
  height: 20px;
  min-width: 150px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

select{
  height: 30px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  min-width: 150px;
}

.label{
  flex-grow: 1;
  flex-basis: 50%;
  text-align: end;
  padding-top: 15px;
}

.inputControl{
  flex-grow: 1;
  flex-basis: 50%;
}

.radioGroup label, .checkbox label{
  position: relative;
  bottom: 3px;
}

textarea{
  margin-left: 10px;
  min-width: 200px;
  height: 60px;
}

.flexContainer.submitBtn{
  justify-content: center;
}
.submitBtn button{
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
